

/* ülkelerin bayrak resimleri */
img{
    
    top: 50px;
    left: 50px;
    height: 350px;
    border-radius: 20px 20px 20px 20px;
    width: 30px; 
    transition: 3s;
   
    
    
  
}
img:hover{
    
     top: 50px;
    right: 50px;
    height: 350px;
    width: 350px;
    transition: 3s;
    
    
}


.flg{
   float: left;
    top: 50px;
    left: 50px;
    height: 350px;
    border-radius: 20px 20px 20px 20px;
    width: 30px; 
    transition: 3s;
    display: flex;
    margin-right: 10px;
    
    
}

.flg:hover .yazıı{

    float: right;
    top: 50px;
    right: 50px;
    height: 350px;
    width: 350px;
    transition: 3s;
    opacity: 1;
 


}

/* yazı */


.yazıı{
    position: absolute;
    top: 80px;
    left: 1050px;
    opacity: 0;
    transition: 3s;

}